In [74]:
# Jeopardy Questions
# work with a dataset of Jeopardy questions to figure out some patterns in the questions that could help you win.
import pandas
jeopardy = pandas.read_csv("jeopardy.csv", encoding = "ISO-8859-1")
print(jeopardy.head())

   Show Number    Air Date      Round                         Category  Value  \
0         4680  12/31/2004  Jeopardy!                          HISTORY  $200
1         4680  12/31/2004  Jeopardy!  ESPN's TOP 10 ALL-TIME ATHLETES  $200
2         4680  12/31/2004  Jeopardy!      EVERYBODY TALKS ABOUT IT...  $200
3         4680  12/31/2004  Jeopardy!                 THE COMPANY LINE  $200
4         4680  12/31/2004  Jeopardy!              EPITAPHS & TRIBUTES  $200

                                            Question      Answer
0  For the last 8 years of his life, Galileo was ...  Copernicus
1  No. 2: 1912 Olympian; football star at Carlisl...  Jim Thorpe
2  The city of Yuma in this state has a record av...     Arizona
3  In 1963, live on "The Art Linkletter Show", th...  McDonald's
4  Signer of the Dec. of Indep., framer of the Co...  John Adams

In [75]:
# Print out the columns of jeopardy using jeopardy.columns.
print(jeopardy.columns)

Index(['Show Number', ' Air Date', ' Round', ' Category', ' Value',
       ' Question', ' Answer'],
      dtype='object')

In [76]:
# Remove the spaces in each item in jeopardy.columns
# Assign the result back to jeopardy.columns to fix the column names in jeopardy
jeopardy.columns = ['Show Number', 'Air Date', 'Round', 'Category', 'Value','Question', 'Answer']

In [77]:
# Normalizing Text
# Write a function to normalize questions and answers
# Convert the string to lowercase and remove all punctuation in the string.
import re

def normalized_text(string):
    string = string.lower()
    # ^ matches the start of the string
    # \s matches Unicode whitespace characters (which includes [ \t\n\r\f\v], and also many other characters
    string = re.sub("[^A-Za-z0-9\s]","", string)
    return string

In [78]:
# Normalize the Question column
jeopardy["clean_question"] = jeopardy["Question"].apply(normalized_text)

# Normalize the Answer column
jeopardy["clean_answer"] = jeopardy["Answer"].apply(normalized_text)

In [79]:
# Normalizing Columns
# Write a function to normalize dollar values.
# Remove any punctuation in the string, convert the string to an integer.
# If the conversion has an error, assign 0 instead
def normalized_value(string):
    string = re.sub("[^A-Za-z0-9\s]","", string)
    try:
        string = int(string)
    except Exception:
        string = 0
    return string

In [80]:
# Normalize the Value column.
jeopardy["clean_value"] = jeopardy["Value"].apply(normalized_value)

In [81]:
# Use the pandas.to_datetime function to convert the Air Date column to a datetime column.
jeopardy["Air Date"] = pandas.to_datetime(jeopardy["Air Date"])

In [82]:
jeopardy

,Show Number,Air Date,Round,Category,Value,Question,Answer,clean_question,clean_answer,clean_value
0,4680,2004-12-31,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was ...",Copernicus,for the last 8 years of his life galileo was u...,copernicus,200
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,No. 2: 1912 Olympian; football star at Carlisl...,Jim Thorpe,no 2 1912 olympian football star at carlisle i...,jim thorpe,200
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,The city of Yuma in this state has a record av...,Arizona,the city of yuma in this state has a record av...,arizona,200
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", th...",McDonald's,in 1963 live on the art linkletter show this c...,mcdonalds,200
4,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Co...",John Adams,signer of the dec of indep framer of the const...,john adams,200
5,4680,2004-12-31,Jeopardy!,3-LETTER WORDS,$200,"In the title of an Aesop fable, this insect sh...",the ant,in the title of an aesop fable this insect sha...,the ant,200
6,4680,2004-12-31,Jeopardy!,HISTORY,$400,Built in 312 B.C. to link Rome & the South of ...,the Appian Way,built in 312 bc to link rome the south of ita...,the appian way,400
7,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$400,"No. 8: 30 steals for the Birmingham Barons; 2,...",Michael Jordan,no 8 30 steals for the birmingham barons 2306 ...,michael jordan,400
8,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$400,"In the winter of 1971-72, a record 1,122 inche...",Washington,in the winter of 197172 a record 1122 inches o...,washington,400
9,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$400,This housewares store was named for the packag...,Crate & Barrel,this housewares store was named for the packag...,crate barrel,400
10,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,$400,"""And away we go""",Jackie Gleason,and away we go,jackie gleason,400
11,4680,2004-12-31,Jeopardy!,3-LETTER WORDS,$400,Cows regurgitate this from the first stomach t...,the cud,cows regurgitate this from the first stomach t...,the cud,400
12,4680,2004-12-31,Jeopardy!,HISTORY,$600,In 1000 Rajaraja I of the Cholas battled to ta...,Ceylon (or Sri Lanka),in 1000 rajaraja i of the cholas battled to ta...,ceylon or sri lanka,600
13,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$600,"No. 1: Lettered in hoops, football & lacrosse ...",Jim Brown,no 1 lettered in hoops football lacrosse at s...,jim brown,600
14,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$600,"On June 28, 1994 the nat'l weather service beg...",the UV index,on june 28 1994 the natl weather service began...,the uv index,600
15,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$600,"This company's Accutron watch, introduced in 1...",Bulova,this companys accutron watch introduced in 196...,bulova,600
16,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,$600,"Outlaw: ""Murdered by a traitor and a coward wh...",Jesse James,outlaw murdered by a traitor and a coward whos...,jesse james,600
17,4680,2004-12-31,Jeopardy!,3-LETTER WORDS,$600,"A small demon, or a mischievous child (who mig...",imp,a small demon or a mischievous child who might...,imp,600
18,4680,2004-12-31,Jeopardy!,HISTORY,$800,Karl led the first of these Marxist organizati...,the International,karl led the first of these marxist organizati...,the international,800
19,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$800,No. 10: FB/LB for Columbia U. in the 1920s; MV...,(Lou) Gehrig,no 10 fblb for columbia u in the 1920s mvp for...,lou gehrig,800
20,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$800,Africa's lowest temperature was 11 degrees bel...,Morocco,africas lowest temperature was 11 degrees belo...,morocco,800
21,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$800,Edward Teller & this man partnered in 1898 to ...,(Paul) Bonwit,edward teller this man partnered in 1898 to s...,paul bonwit,800
22,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,"$2,000","1939 Oscar winner: ""...you are a credit to you...",Hattie McDaniel (for her role in Gone with the...,1939 oscar winner you are a credit to your cra...,hattie mcdaniel for her role in gone with the ...,2000
23,4680,2004-12-31,Jeopardy!,3-LETTER WORDS,$800,"In geologic time one of these, shorter than an...",era,in geologic time one of these shorter than an ...,era,800
24,4680,2004-12-31,Jeopardy!,HISTORY,"$1,000",This Asian political party was founded in 1885...,the Congress Party,this asian political party was founded in 1885...,the congress party,1000
25,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,"$1,000",No. 5: Only center to lead the NBA in assists;...,(Wilt) Chamberlain,no 5 only center to lead the nba in assists tr...,wilt chamberlain,1000
26,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,"$1,000","The Kirschner brothers, Don & Bill, named this...",K2,the kirschner brothers don bill named this sk...,k2,1000
27,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,"$1,000","Revolutionary War hero: ""His spirit is in Verm...",Ethan Allen,revolutionary war hero his spirit is in vermon...,ethan allen,1000
28,4680,2004-12-31,Jeopardy!,3-LETTER WORDS,"$1,000","A single layer of paper, or to perform one's c...",ply,a single layer of paper or to perform ones cra...,ply,1000
29,4680,2004-12-31,Double Jeopardy!,DR. SEUSS AT THE MULTIPLEX,$400,"<a href=""http://www.j-archive.com/media/2004-1...",Horton,a hrefhttpwwwjarchivecommedia20041231dj23mp3be...,horton,400
...,...,...,...,...,...,...,...,...,...,...
216900,4999,2006-05-11,Double Jeopardy!,OFF-BROADWAY,$400,This Baldwin brother was extremely entertainin...,Alec Baldwin,this baldwin brother was extremely entertainin...,alec baldwin,400
216901,4999,2006-05-11,Double Jeopardy!,RIDDLE ME THIS,$400,He used the strength of his mind when he propo...,Samson,he used the strength of his mind when he propo...,samson,400
216902,4999,2006-05-11,Double Jeopardy!,"""T"" BIRDS",$400,Common species of this duck include blue-winge...,the teal,common species of this duck include bluewinged...,the teal,400
216903,4999,2006-05-11,Double Jeopardy!,AUTHORS IN THEIR YOUTH,$400,"As a child, Joseph Conrad pointed to the cente...",Africa,as a child joseph conrad pointed to the center...,africa,400
216904,4999,2006-05-11,Double Jeopardy!,QUOTATIONS,$400,"In 1981 he quipped, ""You can tell a lot about ...",Ronald Reagan,in 1981 he quipped you can tell a lot about a ...,ronald reagan,400
216905,4999,2006-05-11,Double Jeopardy!,WORLD CAPITALS,$800,It has a museum devoted to composer Zoltan Kodaly,Budapest,it has a museum devoted to composer zoltan kodaly,budapest,800
216906,4999,2006-05-11,Double Jeopardy!,OFF-BROADWAY,$800,"""Red Light Winter"" centers on a love triangle ...",Amsterdam,red light winter centers on a love triangle th...,amsterdam,800
216907,4999,2006-05-11,Double Jeopardy!,RIDDLE ME THIS,$800,Sphinx: What animal walks on 4 legs in the mor...,man,sphinx what animal walks on 4 legs in the morn...,man,800
216908,4999,2006-05-11,Double Jeopardy!,"""T"" BIRDS",$800,"Toco, the largest species of this colorful bir...",a toucan,toco the largest species of this colorful bird...,a toucan,800
216909,4999,2006-05-11,Double Jeopardy!,AUTHORS IN THEIR YOUTH,$800,Poet Gregory Corso went on the beat path after...,Allen Ginsberg,poet gregory corso went on the beat path after...,allen ginsberg,800
216910,4999,2006-05-11,Double Jeopardy!,QUOTATIONS,$800,"In his prime this athlete said, It's hard to b...",Muhammad Ali,in his prime this athlete said its hard to be ...,muhammad ali,800
216911,4999,2006-05-11,Double Jeopardy!,WORLD CAPITALS,"$1,200",It's home to the Holmenkollen ski jump,Oslo,its home to the holmenkollen ski jump,oslo,1200
216912,4999,2006-05-11,Double Jeopardy!,OFF-BROADWAY,"$1,200","We'd like to ""enlighten"" you about the musical...",Siddhartha,wed like to enlighten you about the musical si...,siddhartha,1200
216913,4999,2006-05-11,Double Jeopardy!,RIDDLE ME THIS,"$1,200","He created the musical riddles called the ""Eni...",(Edward) Elgar,he created the musical riddles called the enig...,edward elgar,1200
216914,4999,2006-05-11,Double Jeopardy!,"""T"" BIRDS","$1,200",One species of this bird breeds in the Arctic ...,a tern,one species of this bird breeds in the arctic ...,a tern,1200
216915,4999,2006-05-11,Double Jeopardy!,AUTHORS IN THEIR YOUTH,"$1,200",In his teens he worked in an assistant D.A.'s ...,(Erle Stanley) Gardner,in his teens he worked in an assistant das off...,erle stanley gardner,1200
216916,4999,2006-05-11,Double Jeopardy!,QUOTATIONS,"$2,200","Oscar Wilde called this 4-letter word ""the cur...",work,oscar wilde called this 4letter word the curse...,work,2200
216917,4999,2006-05-11,Double Jeopardy!,WORLD CAPITALS,"$3,400",Guyanese capital named for a Hanoverian monarch,Georgetown,guyanese capital named for a hanoverian monarch,georgetown,3400
216918,4999,2006-05-11,Double Jeopardy!,OFF-BROADWAY,"$1,600","A naughty 18th c. novel originally titled ""Mem...",Fanny Hill,a naughty 18th c novel originally titled memoi...,fanny hill,1600
216919,4999,2006-05-11,Double Jeopardy!,RIDDLE ME THIS,"$1,600","If this riddling Belgian surrealist painter, b...",Magritte,if this riddling belgian surrealist painter bo...,magritte,1600
216920,4999,2006-05-11,Double Jeopardy!,"""T"" BIRDS","$1,600",Nightingales & robins belong to this family of...,thrushes,nightingales robins belong to this family of ...,thrushes,1600
216921,4999,2006-05-11,Double Jeopardy!,AUTHORS IN THEIR YOUTH,"$1,600",Her hotsy-totsy diaries trace back to one she ...,Ana??s Nin,her hotsytotsy diaries trace back to one she b...,anas nin,1600
216922,4999,2006-05-11,Double Jeopardy!,QUOTATIONS,"$1,600","A motto of hers was ""in politics, if you want ...",(Margaret) Thatcher,a motto of hers was in politics if you want an...,margaret thatcher,1600
216923,4999,2006-05-11,Double Jeopardy!,WORLD CAPITALS,"$2,000",It's on the Suriname River,Paramaribo,its on the suriname river,paramaribo,2000
216924,4999,2006-05-11,Double Jeopardy!,OFF-BROADWAY,"$2,000",In 2006 the cast of this long-running hit emba...,Stomp,in 2006 the cast of this longrunning hit embar...,stomp,2000
216925,4999,2006-05-11,Double Jeopardy!,RIDDLE ME THIS,"$2,000",This Puccini opera turns on the solution to 3 ...,Turandot,this puccini opera turns on the solution to 3 ...,turandot,2000
216926,4999,2006-05-11,Double Jeopardy!,"""T"" BIRDS","$2,000",In North America this term is properly applied...,a titmouse,in north america this term is properly applied...,a titmouse,2000
216927,4999,2006-05-11,Double Jeopardy!,AUTHORS IN THEIR YOUTH,"$2,000","In Penny Lane, where this ""Hellraiser"" grew up...",Clive Barker,in penny lane where this hellraiser grew up th...,clive barker,2000
216928,4999,2006-05-11,Double Jeopardy!,QUOTATIONS,"$2,000","From Ft. Sill, Okla. he made the plea, Arizona...",Geronimo,from ft sill okla he made the plea arizona is ...,geronimo,2000
216929,4999,2006-05-11,Final Jeopardy!,HISTORIC NAMES,None,A silent movie title includes the last name of...,Grigori Alexandrovich Potemkin,a silent movie title includes the last name of...,grigori alexandrovich potemkin,0

In [83]:
# check the datatype for each column
jeopardy.dtypes

Show Number                int64
Air Date          datetime64[ns]
Round                     object
Category                  object
Value                     object
Question                  object
Answer                    object
clean_question            object
clean_answer              object
clean_value                int64
dtype: object

In [84]:
# How often the answer is deducible from the question.
# We can answer the question by seeing how many times words in the answer also occur in the question. 

# Write a function that takes in a row in jeopardy, as a Series. It should:
def answer_deductible(row):
    # Split the clean_answer column on the space character (), and assign to the variable split_answer.
    split_answer = row["clean_answer"].split(" ")
    # Split the clean_question column on the space character (), and assign to the variable split_question.
    split_question = row["clean_question"].split(" ")
    # If "the" is in split_answer, remove it using the remove method on lists. "The" is commonly found in answers and questions, but doesn't have any meaningful use in finding the answer.
    if "the" in split_answer:
        split_answer.remove("the")
    # If the length of split_answer is 0, return 0. This prevents a division by zero error later.
    if len(split_answer) == 0:
        return 0
    # Create a variable called match_count, and set it to 0.
    match_count = 0
    # Loop through each item in split_answer, and see if it occurs in split_question. If it does, add 1 to match_count.
    for item in split_answer:
        if item in split_question:
            match_count += 1
    # Divide match_count by the length of split_answer, and return the result.
    result = match_count / len(split_answer)
    return result

In [85]:
# Count how many times terms in clean_answer occur in clean_question
jeopardy["answer_in_question"] = jeopardy.apply(answer_deductible, axis=1)
print(jeopardy.head())

   Show Number   Air Date      Round                         Category  Value  \
0         4680 2004-12-31  Jeopardy!                          HISTORY  $200
1         4680 2004-12-31  Jeopardy!  ESPN's TOP 10 ALL-TIME ATHLETES  $200
2         4680 2004-12-31  Jeopardy!      EVERYBODY TALKS ABOUT IT...  $200
3         4680 2004-12-31  Jeopardy!                 THE COMPANY LINE  $200
4         4680 2004-12-31  Jeopardy!              EPITAPHS & TRIBUTES  $200

                                            Question      Answer  \
0  For the last 8 years of his life, Galileo was ...  Copernicus
1  No. 2: 1912 Olympian; football star at Carlisl...  Jim Thorpe
2  The city of Yuma in this state has a record av...     Arizona
3  In 1963, live on "The Art Linkletter Show", th...  McDonald's
4  Signer of the Dec. of Indep., framer of the Co...  John Adams

                                      clean_question clean_answer  \
0  for the last 8 years of his life galileo was u...   copernicus
1  no 2 1912 olympian football star at carlisle i...   jim thorpe
2  the city of yuma in this state has a record av...      arizona
3  in 1963 live on the art linkletter show this c...    mcdonalds
4  signer of the dec of indep framer of the const...   john adams

   clean_value  answer_in_question
0          200                 0.0
1          200                 0.0
2          200                 0.0
3          200                 0.0
4          200                 0.0

In [86]:
# Find the mean of the answer_in_question column using the mean method on Series.
mean_answer_inquestion = jeopardy["answer_in_question"].mean()
print(mean_answer_inquestion)

0.0593714165298

Answer terms in the question

The answer only appears in the question about 6% of the time. This isn't a huge number, and means that we probably can't just hope that hearing a question will enable us to figure out the answer. We'll probably have to study.

In [87]:
# Recycled Questions
# investigate how often new questions are repeats of older ones.

# Sort jeopardy in order of ascending air date.
jeopardy.sort_values("Air Date", ascending = True)

,Show Number,Air Date,Round,Category,Value,Question,Answer,clean_question,clean_answer,clean_value,answer_in_question
84523,1,1984-09-10,Jeopardy!,LAKES & RIVERS,$100,River mentioned most often in the Bible,the Jordan,river mentioned most often in the bible,the jordan,100,0.000000
84565,1,1984-09-10,Double Jeopardy!,THE BIBLE,"$1,000","According to 1st Timothy, it is the ""root of a...",the love of money,according to 1st timothy it is the root of all...,the love of money,1000,0.333333
84566,1,1984-09-10,Double Jeopardy!,'50'S TV,"$1,000",Name under which experimenter Don Herbert taug...,Mr. Wizard,name under which experimenter don herbert taug...,mr wizard,1000,0.000000
84567,1,1984-09-10,Double Jeopardy!,NATIONAL LANDMARKS,"$1,000",D.C. building shaken by November '83 bomb blast,the Capitol,dc building shaken by november 83 bomb blast,the capitol,1000,0.000000
84568,1,1984-09-10,Double Jeopardy!,NOTORIOUS,"$1,000","After the deed, he leaped to the stage shoutin...",John Wilkes Booth,after the deed he leaped to the stage shouting...,john wilkes booth,1000,0.000000
84569,1,1984-09-10,Double Jeopardy!,4-LETTER WORDS,"$1,000",The president takes one before stepping into o...,oath,the president takes one before stepping into o...,oath,1000,0.000000
84570,1,1984-09-10,Final Jeopardy!,HOLIDAYS,None,The third Monday of January starting in 1986,Martin Luther King Day,the third monday of january starting in 1986,martin luther king day,0,0.000000
84538,1,1984-09-10,Jeopardy!,LAKES & RIVERS,$400,American river only 33 miles shorter than the ...,the Missouri,american river only 33 miles shorter than the ...,the missouri,400,0.000000
84537,1,1984-09-10,Jeopardy!,ACTORS & ROLES,$300,"He may ""Never Say Never Again"" when asked to b...",Sean Connery,he may never say never again when asked to be ...,sean connery,300,0.000000
84536,1,1984-09-10,Jeopardy!,FOREIGN CUISINE,$300,Jewish crepe filled with cheese,a blintz,jewish crepe filled with cheese,a blintz,300,0.000000
84564,1,1984-09-10,Double Jeopardy!,4-LETTER WORDS,"$1,000","It's the first 4-letter word in ""The Star Span...",what,its the first 4letter word in the star spangle...,what,1000,0.000000
84535,1,1984-09-10,Jeopardy!,ANIMALS,$300,"When husbands ""pop"" for an ermine coat, they'r...",weasel,when husbands pop for an ermine coat theyre ac...,weasel,300,0.000000
84533,1,1984-09-10,Jeopardy!,LAKES & RIVERS,$800,"River in <a href=""http://www.j-archive.com/med...",the Volga River,river in a hrefhttpwwwjarchivecommedia19840910...,the volga river,800,0.500000
84532,1,1984-09-10,Jeopardy!,ACTORS & ROLES,$200,"2 ""Saturday Night"" alumni who tried ""Trading P...",Dan Aykroyd & Eddie Murphy,2 saturday night alumni who tried trading places,dan aykroyd eddie murphy,200,0.000000
84531,1,1984-09-10,Jeopardy!,FOREIGN CUISINE,$200,"A British variety is called ""bangers"", a Mexic...",sausage,a british variety is called bangers a mexican ...,sausage,200,0.000000
84530,1,1984-09-10,Jeopardy!,ANIMALS,$200,"There are about 40,000 muscles & tendons in th...",the trunk,there are about 40000 muscles tendons in this...,the trunk,200,0.000000
84529,1,1984-09-10,Jeopardy!,INVENTIONS,$200,"In 1869 an American minister created this ""ori...",the rickshaw,in 1869 an american minister created this orie...,the rickshaw,200,0.000000
84528,1,1984-09-10,Jeopardy!,LAKES & RIVERS,$200,Scottish word for lake,loch,scottish word for lake,loch,200,0.000000
84527,1,1984-09-10,Jeopardy!,ACTORS & ROLES,$100,Video in which Michael Jackson plays a werewol...,"""Thriller""",video in which michael jackson plays a werewol...,thriller,100,0.000000
84526,1,1984-09-10,Jeopardy!,FOREIGN CUISINE,$100,"The ""coq"" in coq au vin",chicken,the coq in coq au vin,chicken,100,0.000000
84525,1,1984-09-10,Jeopardy!,ANIMALS,$100,These rodents first got to America by stowing ...,rats,these rodents first got to america by stowing ...,rats,100,0.000000
84534,1,1984-09-10,Jeopardy!,INVENTIONS,$300,A 1920's hunting trip to Canada inspired Birds...,freezing,a 1920s hunting trip to canada inspired birdse...,freezing,300,0.000000
84524,1,1984-09-10,Jeopardy!,INVENTIONS,$100,Marconi's wonderful wireless,the radio,marconis wonderful wireless,the radio,100,0.000000
84563,1,1984-09-10,Double Jeopardy!,NATIONAL LANDMARKS,$800,"Site where John Hancock signed his ""John Hancock""",Independence Hall,site where john hancock signed his john hancock,independence hall,800,0.000000
84561,1,1984-09-10,Double Jeopardy!,THE BIBLE,$800,"Though its name means ""city of peace"", it's se...",Jerusalem,though its name means city of peace its seen o...,jerusalem,800,0.000000
84549,1,1984-09-10,Double Jeopardy!,NOTORIOUS,$200,"It was probably a lyre, not a fiddle, if he pl...",Nero,it was probably a lyre not a fiddle if he play...,nero,200,0.000000
84548,1,1984-09-10,Double Jeopardy!,NATIONAL LANDMARKS,$200,She came from France to harbor America's freedom,the Statue of Liberty,she came from france to harbor americas freedom,the statue of liberty,200,0.000000
84547,1,1984-09-10,Double Jeopardy!,'50'S TV,$200,"Occupation of Richard Diamond, Peter Gunn & Mi...",private eyes (or private detectives),occupation of richard diamond peter gunn mike...,private eyes or private detectives,200,0.000000
84546,1,1984-09-10,Double Jeopardy!,THE BIBLE,$200,"When ""Joshua Fit The Battle Of Jericho"", these...",the walls,when joshua fit the battle of jericho these to...,the walls,200,0.000000
84545,1,1984-09-10,Jeopardy!,ACTORS & ROLES,$500,"Sam Shepard played this barrier breaker in ""Th...",Colonel Chuck Yeager,sam shepard played this barrier breaker in the...,colonel chuck yeager,500,0.000000
...,...,...,...,...,...,...,...,...,...,...,...
105932,6300,2012-01-27,Jeopardy!,STUPID ANSWERS,$200,"On the west, Central Park is bounded by this s...",Central Park West,on the west central park is bounded by this st...,central park west,200,1.000000
105931,6300,2012-01-27,Jeopardy!,CHILD ACTORS,$200,"Henry Thomas, who played this role in ""E.T."", ...",Elliott,henry thomas who played this role in et turned...,elliott,200,0.000000
105953,6300,2012-01-27,Jeopardy!,VISITING THE CITY,"$1,000",Arriving at the train station built for the 19...,Seville,arriving at the train station built for the 19...,seville,1000,0.000000
105958,6300,2012-01-27,Jeopardy!,THE TRUTH LIES THEREIN,"$1,000",A palindromic preposition of the past,ere,a palindromic preposition of the past,ere,1000,0.000000
105957,6300,2012-01-27,Jeopardy!,LESSER-KNOWN SCIENTISTS,"$1,000",In 1785 William Withering suggested using this...,digitalis (or digoxin),in 1785 william withering suggested using this...,digitalis or digoxin,1000,0.000000
105956,6300,2012-01-27,Jeopardy!,STUPID ANSWERS,"$1,000",The Mosquito Indians are a majority population...,the Mosquito Coast,the mosquito indians are a majority population...,the mosquito coast,1000,0.500000
105955,6300,2012-01-27,Jeopardy!,CHILD ACTORS,"$1,000",In the 1930s Baby LeRoy played opposite this c...,W. C. Fields,in the 1930s baby leroy played opposite this c...,w c fields,1000,0.000000
105954,6300,2012-01-27,Jeopardy!,PANTS,"$1,000",The baggy shalwar is always in fashion in this...,Pakistan,the baggy shalwar is always in fashion in this...,pakistan,1000,0.000000
105952,6300,2012-01-27,Jeopardy!,THE TRUTH LIES THEREIN,$800,Colt controller,rein,colt controller,rein,800,0.000000
105938,6300,2012-01-27,Jeopardy!,STUPID ANSWERS,$400,This building in our national capital was orig...,the Capitol,this building in our national capital was orig...,the capitol,400,0.000000
105950,6300,2012-01-27,Jeopardy!,STUPID ANSWERS,$800,The second verse of this classic American song...,"""America the Beautiful""",the second verse of this classic american song...,america the beautiful,800,0.500000
105943,6300,2012-01-27,Jeopardy!,CHILD ACTORS,$600,"At age 11, this future portrayer of Bella Swan...",Kristen Stewart,at age 11 this future portrayer of bella swan ...,kristen stewart,600,0.000000
105929,6300,2012-01-27,Jeopardy!,VISITING THE CITY,$200,"Experience Little Havana along Calle Ocho, the...",Miami,experience little havana along calle ocho then...,miami,200,0.000000
105942,6300,2012-01-27,Jeopardy!,PANTS,$600,"When introduced, these wide, baggy pants were ...",plus fours,when introduced these wide baggy pants were 4 ...,plus fours,600,0.000000
105941,6300,2012-01-27,Jeopardy!,VISITING THE CITY,$600,"Take the ""Sound of Music"" tour or visit the Ha...",Salzburg,take the sound of music tour or visit the hage...,salzburg,600,0.000000
105940,6300,2012-01-27,Jeopardy!,THE TRUTH LIES THEREIN,$400,"Old school GPS on a shopping mall map: ""You A...",here,old school gps on a shopping mall map you are...,here,400,0.000000
105939,6300,2012-01-27,Jeopardy!,LESSER-KNOWN SCIENTISTS,$400,"The ""crown jewels"" of Alcoa are the bits of th...",aluminum,the crown jewels of alcoa are the bits of this...,aluminum,400,0.000000
105937,6300,2012-01-27,Jeopardy!,CHILD ACTORS,$400,"Scott Lookinland played his father, Mike, in t...",The Brady Bunch,scott lookinland played his father mike in the...,the brady bunch,400,0.000000
105936,6300,2012-01-27,Jeopardy!,PANTS,$400,Calf-length pants styled in colorful island pr...,luau pants,calflength pants styled in colorful island pri...,luau pants,400,0.500000
105935,6300,2012-01-27,Jeopardy!,VISITING THE CITY,$400,"First the Royal Ontario Museum, then for lunch...",Toronto,first the royal ontario museum then for lunch ...,toronto,400,0.000000
105934,6300,2012-01-27,Jeopardy!,THE TRUTH LIES THEREIN,$200,Symbol for the second-lightest element,He,symbol for the secondlightest element,he,200,0.000000
105933,6300,2012-01-27,Jeopardy!,LESSER-KNOWN SCIENTISTS,$200,In 1779 Dutch scientist Jan Ingenhousz publish...,photosynthesis,in 1779 dutch scientist jan ingenhousz publish...,photosynthesis,200,0.000000
105944,6300,2012-01-27,Jeopardy!,STUPID ANSWERS,$600,This was first imprinted in black on individua...,M,this was first imprinted in black on individua...,m,600,0.000000
105945,6300,2012-01-27,Jeopardy!,LESSER-KNOWN SCIENTISTS,$600,Gowin Knight's 1745 development of a better wa...,a compass,gowin knights 1745 development of a better way...,a compass,600,0.500000
105946,6300,2012-01-27,Jeopardy!,THE TRUTH LIES THEREIN,$600,"Old school CBS history show: ""You Are"" this",There,old school cbs history show you are this,there,600,0.000000
105947,6300,2012-01-27,Jeopardy!,VISITING THE CITY,$800,There's a great opera house on Bennelong Point...,Sydney,theres a great opera house on bennelong point ...,sydney,800,0.000000
105948,6300,2012-01-27,Jeopardy!,PANTS,"$1,400",Tight-fitting pants patterned after those worn...,toreador pants,tightfitting pants patterned after those worn ...,toreador pants,1400,0.500000
105949,6300,2012-01-27,Jeopardy!,CHILD ACTORS,$800,"This kid, with a familiar last name, is seen <...",Jaden Smith,this kid with a familiar last name is seen a h...,jaden smith,800,0.000000
105951,6300,2012-01-27,Jeopardy!,LESSER-KNOWN SCIENTISTS,$800,Joseph Lagrange insisted on 10 as the basic un...,the metric system,joseph lagrange insisted on 10 as the basic un...,the metric system,800,0.500000
105930,6300,2012-01-27,Jeopardy!,PANTS,$200,"A synonym for freight, or pants with large bel...",cargo pants,a synonym for freight or pants with large bell...,cargo pants,200,0.500000

Below step enable you to check if the terms in questions have been used previously or not. 
Only looking at words greater than 6 characters enables you to filter out words like the and than, 
which are commonly used, but don't tell you a lot about a question.

In [88]:
# Maintain a set called terms_used that will be empty initially
terms_used = set()
# Create an empty list called question_overlap
question_overlap = []

# Iterate through each row of jeopardy.
# DataFrame.iterrows() -> Iterate over DataFrame rows as (index, Series) pairs.
for i, row in jeopardy.iterrows():
    # Split clean_question into words, remove any word shorter than 6 characters, and check if each word occurs in terms_used.
    split_question = row["clean_question"].split(" ")
    split_question = [i for i in split_question if len(i) > 5]
    # Set counter to 0
    morethan6charc_count = 0
    for word in split_question:
        # If it does, increment a counter.
        if word in terms_used:
            morethan6charc_count += 1
    # add each word to terms_used. (set.add() can add element to set data type)
    for word in split_question:
        terms_used.add(word)
    # If the length of split_question is greater than 0, divide match_count by the length of split_question.
    if len(split_question) > 0:
        morethan6charc_count = morethan6charc_count / len(split_question)
    # Append match_count to question_overlap.
    question_overlap.append(morethan6charc_count)

In [89]:
# Assign question_overlap to the question_overlap column of jeopardy
jeopardy["question_overlap"] = question_overlap

# Find the mean of the question_overlap column and print it.
mean_questionoverlap = jeopardy["question_overlap"].mean()
print(mean_questionoverlap)

0.873511019215

Question overlap

There is about 87% overlap between terms in new questions and terms in old questions. This only looks at a small set of questions, and it doesn't look at phrases, it looks at single terms. This makes it relatively insignificant, but it does mean that it's worth looking more into the recycling of questions.

In [90]:
# Low Value Vs High Value Questions
# you only want to study questions that pertain to high value questions instead of low value questions.
# We can figure out which terms correspond to high-value questions using a chi-squared test
# First, narrow down the questions into two categories
# Then loop through each of the terms from the last screen, terms_used
"""
1. Find the number of low value questions the word occurs in.
2. Find the number of high value questions the word occurs in.
3. Find the percentage of questions the word occurs in.
4. Based on the percentage of questions the word occurs in, find expected counts.
5. Compute the chi squared value based on the expected counts and the observed counts for high and low value questions.
"""

# Create a function that takes in a row from a Dataframe
def value_group(row):
    # If the clean_value column is greater than 800, assign 1 to value.
    if row["clean_value"] > 800:
        value = 1
    # Otherwise, assign 0 to value.
    else:
        value = 0
    # Return value.
    return value

jeopardy["high_value"] = jeopardy.apply(value_group, axis=1)

In [91]:
# Create a function that takes in a word
def group_word_count(word):
    low_count = 0
    high_count = 0
    for i, row in jeopardy.iterrows():
        # If the word is in the split question
        if word in row["clean_question"].split(" "):
            if row["high_value"] == 1:
                high_count += 1
            else:
                low_count += 1
    return high_count, low_count

In [92]:
observed_expected = []

# Convert terms_used into a list using the list function, and assign the first 5 elements to comparison_terms.
comparison_terms = list(terms_used)[:5]

In [93]:
# Loop through each term in comparison_terms, and:
# Run the function on the term to get the high value and low value counts.
# Append the result of running the function (which will be a list) to observed_expected.
for term in comparison_terms:
    observed_expected.append(group_word_count(term))
    
observed_expected

[(0, 1), (0, 1), (0, 1), (0, 1), (33, 83)]

In [94]:
# Applying The Chi-Squared Test

# Find the number of rows in jeopardy where high_value is 1
high_value_count = jeopardy[jeopardy["high_value"] == 1].shape[0]

# Find the number of rows in jeopardy where high_value is 0
low_value_count = jeopardy[jeopardy["high_value"] == 0].shape[0]

In [96]:
import numpy as np
from scipy.stats import chisquare

chi_squared = []

# Loop through each list in observed_expected
for lists in observed_expected:
    # Add up both items in the list (high and low counts) to get the total count, and assign to total.
    total = sum(lists)
    # Divide total by the number of rows in jeopardy to get the proportion across the dataset. Assign to total_prop.
    total_prop = total / jeopardy.shape[0]
    # Multiply total_prop by high_value_count to get the expected term count for high value rows.
    total_high_prop = total_prop * high_value_count
    # Multiply total_prop by low_value_count to get the expected term count for low value rows.
    total_low_prop = total_prop * low_value_count
    
    # Use the scipy.stats.chisquare function to compute the chi-squared value and p-value given the expected and observed counts.
    observed = np.array([lists[0], lists[1]])
    expected = np.array([total_high_prop, total_low_prop])
    chi_squared.append(chisquare(observed, expected))
    # Append the results to chi_squared.

chi_squared

[Power_divergenceResult(statistic=0.39497646423335131, pvalue=0.52969509124866954),
 Power_divergenceResult(statistic=0.39497646423335131, pvalue=0.52969509124866954),
 Power_divergenceResult(statistic=0.39497646423335131, pvalue=0.52969509124866954),
 Power_divergenceResult(statistic=0.39497646423335131, pvalue=0.52969509124866954),
 Power_divergenceResult(statistic=0.0010273158506472991, pvalue=0.97443076695468012)]

Chi-squared results

None of the terms had a significant difference in usage between high value and low value rows (pvalue all greater than 0.05). Additionally, the frequencies were lower than 5 for 4 of the terms, so the chi-squared test isn't as valid. It would be better to run this test with only terms that have higher frequencies.